@use "variables" as vars;

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// Mixins
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: vars.$lightRose1;
  padding: 3.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: relative;

  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 1.7rem;

    .bull {
      font-size: 24px;
      color: vars.$darkRose1;
    }

    h3 {
      text-transform: capitalize;
      font-size: large;
    }
  }

  .about_intro {
    padding: 0 1.7rem;
  }

  .slider {
    max-width: 356px;
    margin: 1rem auto 0;
    @include center-flex;

    .slide {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 3rem;

      .blockQuote {
        width: 90%;
        margin: 0 auto;
        padding: 18px 10px 16px 24px;
        font-family: Nunito, sans-serif;
        background-color: vars.$rose300;
        border-radius: 0.9rem;
        z-index: 20;
        box-shadow: 3px 0px 3px vars.$rose500, -3px 0px 3px vars.$rose500;

        .quote {
          font-size: 22px;
          position: absolute;
          top: 7px;
          left: 25px;
          color: vars.$darkRose2;
        }
      }
    }

    .prev,
    .next {
      position: absolute;
      z-index: 70;
      width: 32px;
      height: 32px;
      background-color: vars.$rose100;
      border-radius: 50%;
      @include center-flex();
      top: 51.5%;

      &:hover {
        background-color: vars.$darkRose1;
        color: vars.$lightRose1;
      }
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
    .swiper-pagination-bullet {
      background-color: vars.$darkRose1 !important; // Custom background color for pagination bullets
    }
    .swiper-pagination-bullet-active {
      background-color: vars.$rose300 !important; // Custom background color for active pagination bullet
    }
  }
}
