@use "variables" as vars;

.menu_and_profile {
  display: flex;
  gap: 14px;
  align-items: center;
  color: vars.$rose600;

  .profile {
    font-size: larger;
    transition: active 3s ease-out;

    &:hover {
      color: vars.$rose200;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .menu_content {
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    position: fixed;
    display: grid;
    place-content: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background: url("/images/appPhotos/photo-10.jpg") no-repeat center center;
    background-size: cover;
    color: vars.$darkRose1;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;

    .gradient_container {
      background: linear-gradient(
        to bottom right,
        rgba(vars.$rose200, 0.4),
        vars.$darkRose2
      );
      position: absolute;
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
    }

    &.slide-in {
      transform: translateX(0);
      box-shadow: -3px 0 4px rgba(0, 0, 0, 0.7);
      z-index: 1000;
    }

    .close_button {
      background: none;
      color: vars.$lightRose1;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #4c0519;
      }
    }
  }
}
